<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Música</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Arial', sans-serif;
        }

        body {
            background-color: #121212;
            color: #ffffff;
            text-align: center;
            padding: 20px;
        }

        h1 {
            margin-top: 5%;
            font-size: 2rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 15px;
            opacity: 0.8;
        }

        form {
            margin-right: 2%;
            background: #1e1e1e;
            padding: 20px;
            border-radius: 10px;
            display: inline-block;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
            margin-bottom: 5%;
        }

        input {
            padding: 10px;
            margin: 5px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
        }

        button {
            background: #1db954;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
        }

        button:hover {
            background: #1aa34a;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            background: #1e1e1e;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        }

        table th, table td {
            padding: 15px;
            border: 1px solid #333;
            text-align: center;
        }

        table th {
            background: #1db954;
            color: white;
        }

        table tr:nth-child(even) {
            background: #2a2a2a;
        }

        .music_id {
            margin-top: 0%;
        }
        .musicas-container {
            display: flex;
            justify-content: space-between;
        }
        .musicas, .spotify-iframe {
            flex: 1;
            margin: 10px;
            margin-right: 2%;
            background: #1e1e1e;
            padding: 20px;
            border-radius: 10px;
            display: inline-block;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
            margin-top: 1%;
            margin-bottom: 1%;
            
        }
        .spotify-iframe iframe {
            width: 100%;
            height: 352px;
        }
    </style>
</head>

<body>
    <%- include('partials/header') %>
    <%let revenue = song[0].likes * price %>
    <%let rev = revenue.toFixed(2)%>

    <h1 class="music_id">Música ID: <%= song[0].id %></h1>
    <table border="1">
        <thead>
            <tr>
                <th>Título</th>
                <th>Artista</th>
                <th>Género</th>
                <th>Álbum</th>
                <th>Duração</th>
                <th>Data de Lançamento</th>
                <th>Nº de Likes</th>
                <th>Receita</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><%=song[0].title %></td>
                <td><%=song[0].artist %></td>
                <td><%=song[0].genre %></td>
                <td><%=song[0].album %></td>
                <td><%=song[0].duration_seconds %></td>
                <td><%= new Date(song[0].release_date).toISOString().split('T')[0] %></td>
                <td><%=song[0].likes %></td>
                <td><%=rev%> €</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <div class="musicas-container">
        <div class="musicas">
            <h1>Editar Música</h1>
            <form id="form-musicas">
                <label>Título </label>
                <input type="text" name="title" id="title" value="<%= song[0].title %>">
                <br><br>
                <label>Artista </label>
                <input type="text" name="artist" id="artist" value="<%= song[0].artist %>">
                <br><br>
                <label>Genero </label>
                <input type="text" name="genre" id="genre" value="<%= song[0].genre %>">
                <br><br>
                <label>Album </label>
                <input type="text" name="album" id="album" value="<%= song[0].album %>">
                <br><br>
                <label>Duração </label>
                <input type="number" name="duration_seconds" id="duration_seconds"  value="<%= song[0].duration_seconds %>">
                <br><br>
                <label>Data de lançamento </label>
                <input type="date" name="release_date" id="release_date" value="<%= new Date(song[0].release_date).toISOString().split('T')[0] %>">
                <br><br>
                <label>Nº de Likes </label>
                <input type="number" name="likes" id="likes" value="<%= song[0].likes %>">
                <br><br>
                <label>Link do Spotify</label>
                <input type="text" name="spotify_link" id="spotify_link" value="<%= song[0].spotify_link %>">
                <br><br>
                <button type="submit" onclick="updateSong()">Atualizar</button>
            </form>
        </div>
        <div class="spotify-iframe">
            <iframe style="border-radius:12px" src="<%= song[0].spotify_link %>"
                width="100%" height="352" frameBorder="0" allowfullscreen="" 
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
            </iframe>
        </div>
    </div>
    <hr>
    <h1>Letra da música</h1>
    <div id="lyrics"></div>

    <script>
        function updateSong() {
            const title = document.getElementById('title').value;
            const artist = document.getElementById('artist').value;
            const album = document.getElementById('album').value;
            const genre = document.getElementById('genre').value;
            const duration_seconds = document.getElementById('duration_seconds').value;
            const release_date = document.getElementById('release_date').value;
            const likes = document.getElementById('likes').value;
            const spotify_link = document.getElementById('spotify_link').value;

            axios.put('/songs/<%= song[0].id %>', {
                title,
                artist,
                album,
                genre,
                duration_seconds,
                release_date,
                likes, 
                spotify_link
            })
            .then(response => {
                console.log('Música atualizada:', response.data);
                alert('Música atualizada com sucesso');
                location.reload();
            })
            .catch(error => {
                alert('Erro ao atualizar a música')
                console.error('Erro ao atualizar a música:', error);
            });
        }

        axios.get(`https://api.lyrics.ovh/v1/<%= song[0].artist %>/<%= song[0].title %>`) 
            .then(response => {
                tamanhoLetra = response.data.lyrics.split("\n").length
                letra = response.data.lyrics.split("\n")
                for (let i = 0; i < tamanhoLetra; i++) {
                    if (letra[i] != "") {
                        const p = document.createElement('p');
                        p.textContent = letra[i];
                        document.getElementById('lyrics').appendChild(p);
                    }
                }
            })
            .catch(error => {
                console.error('Erro ao buscar a letra:', error);
                document.getElementById('lyrics').textContent = 'Letra não disponível';
            });
    </script>
</body>
</html>